@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --dark: #121212;
    --half-dark: #373737;
    --least-dark: #5b5b5b;
    --grey: #ddd;
    --purple: #7600e6;
    --light-purple: #901aff;
    --dark-purple: #420080;
    --red: #ff4d4d;
    --redder: #ff0000;
    --red-light: #ff5f5f;
    --blue: #4173ad;

    --background-googleish-yellow: #FBBC05;
    --background-googleish-blue: #4285F4;
    --background-googleish-green: #34A853;
    --background-googleish-red: #EA4335;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
    align-items: center;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    align-items: center;
}

header>h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--purple);
    margin-bottom: 1rem;
    text-align: center;
}

header>h2 {
    text-align: center;
}


#standard-content {
    background-color: var(--dark);
    color: white;
    margin: 2.5rem;
    padding: 2.5rem;
    width: 800px;
}

#standard-content>h2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0px 0px 2rem 0px;
}

.get-button {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    width: 200px;
    transition: ease-in 75ms;
    height: 75px;
}

.get-button:active {
    font-size: 1.9rem
}

.standard-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.standard-content-text {
    font-size: 2rem;
    padding: 1rem 0 3.5rem 0;
}

.explanation {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

#advice-wrapper {
    background-color: var(--background-googleish-yellow);
}

#advice-button {
    background-color: var(--background-googleish-yellow);
    color: var(--dark);
}

#joke-wrapper {
    background-color: var(--background-googleish-blue);
}

#joke-button {
    background-color: var(--background-googleish-blue);
}

#fact-wrapper {
    background-color: var(--background-googleish-red);
}

#fact-button {
    background-color: var(--background-googleish-red);
}